<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7F026775-6061-47F7-A1A3-22CBF0601237</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.won</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
