<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CFF4CA7B-28A0-47ED-A7F9-6E1BB906CA58</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
