<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D211A1C0-784A-4030-A78F-2621F458E07D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.won</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
