<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>{400, 144}</string>
      <string>glyphs.{400, 144}</string>
    </array>
    <array>
      <string>{459,144}</string>
      <string>glyphs.{459,144}</string>
    </array>
    <array>
      <string>{460,144}</string>
      <string>glyphs.{460,144}</string>
    </array>
    <array>
      <string>{180,144}</string>
      <string>glyphs.{180,144}</string>
    </array>
    <array>
      <string>{181,144}</string>
      <string>glyphs.{181,144}</string>
    </array>
    <array>
      <string>{492,144}</string>
      <string>glyphs.{492,144}</string>
    </array>
    <array>
      <string>{493,144}</string>
      <string>glyphs.{493,144}</string>
    </array>
    <array>
      <string>{358, 144}</string>
      <string>glyphs.{358, 144}</string>
    </array>
  </array>
</plist>
