<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9971398A-48B8-4CAC-88A1-C394CF002CAE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._corner.Serif</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
