<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E8B1A106-ECDC-4172-92C1-D5CF67067456</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
