<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>42D6B914-CDE9-4D44-BFD8-A6951B6BBE1B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._corner.Serif</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._corner.Serif.001</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
